.welcome_img{
    border-radius: 50%;
    box-shadow: 10px 15px 50px rgba(52, 54, 54, 0.719);
    width:400px;
    height: 60vh;
    margin: 20px;
}
.main-row{
    padding-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}