.customer_photo{
    /* box-shadow:  0px 7px 20px 0px rgba(0,0,0,0.5); */
    border-radius: 50%;
    margin-left: 3%;
    width: 200px;
    height: 200px;
}

.mytable{
    outline: 1px solid rgb(190, 190, 190);
}
.no_border{
    border: none;
    border-bottom:1px solid grey ;
    outline: 0;
}
