{% extends 'navside.html'%}
{% block content%}
<style>
    .tborderBottom{
        border-bottom: 1px solid gray ;
    }
    .tborderTop{
        border-top: 1px solid gray;
    }
    .borderNone{
        border-top: none;
        border-left: none;
        border-right:none;
        border-color: darkgrey;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div>
{% if not invoice%}
{% if reg %}
    <div class="container-fluid">
        <div class="p-3">
            <form action="billing" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-middle border-bottom-0" style="font-size: 54px; ">Invoice</div>
                <table class="table table-striped table-sm">
                    <div class="d-flex justify-content-end">
                        <label for="Date" class="">Date:&nbsp;</label><label for="dateData">{{order.orderdate}}</label>
                        <input type="hidden" name="date" value="{{order.orderdate}}"/>
                        <input type="hidden" name="order" value="{{order.id}}"/>
                    </div>
                    <thead>
                    <tr class="table-dark tborderBottom">
                        <th scope="col">S.N</th>
                        <th scope="col">Description</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in order.customer_measurement.description.all %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>
                            <label class="borderNone">{{d.description}}</label>
                            <input type="hidden" name="description" value="{{d.description}}"/>
                        </td>

                        <td><input type="number" min="0" name="price" oninput="this.value = Math.abs(this.value)" value="0" class="borderNone total" onkeyup="calculateTotal();" min="0"></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="tborderTop">
                            <th scop>Gross Total</th>
                            <td></td>
                            <td><input type="number" name="grosstotal" value="0" class="borderNone gross noscroll" id="total" min="0" readonly></td>
                        </tr>
                        <tr>
                            <th scope="row">Discount Amount</th>
                            <td></td>
                            <td><input type="number" name="discount" class="borderNone" id="discount" min="0" value="0" onkeyup="calculateTotal();"></td>
                        </tr>
                        <tr>
                            <th scope="row">VAT</th>
                            <td></td>
                            <td><input type="text" placeholder="13%" class="borderNone" readonly></td>
                            <!-- <td><label for="VAT">13%</label></td> -->
                        </tr>
                        <tr>
                            <th scope="row">Net Total</th>
                            <td></td>
                            <td><input type="number" name="nettotal" value="0" class="borderNone " id="netTotal"  min="0" readonly ></td>
                        </tr>
                        <tr>
                            <th scope="row">Advance</th>
                            <td></td>
                            <td><input type="number" name="advance" id="advance" class="borderNone" min="0" value="0" onkeyup="calculateTotal();"></td>
                        </tr>
                        <!-- <tr>
                            <th scope="row">Remaining</th>
                            <td></td>
                            <td><input type="text" name="remain" value="0" class="borderNone " id="remaining"  min="0" disabled></td>
                        </tr> -->
                    </tfoot>
                </table>
                <button class="btn btn-primary">Generate Invoice</button>
            </form>
        </div>
    </div>
{% else %}
    <p>Something went wrong!</p>
{% endif %}

{% else %}
    <div class="container-fluid">
        <div class="p-3">
            <form action="dashboard" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-middle border-bottom-0" style="font-size: 54px; ">Invoice</div>
                <table class="table table-striped table-sm">
                    <div class="d-flex justify-content-end">
                        <div>
                            <label for="Date">Date: </label><label for="dateData">{{invoice.invoice.date}}</label>
                        </div>
                        <div>
                            <label for="Invoice_No" >Invoice No: </label><label for="Invoice_NoData">{{invoice.invoice.id}}</label>
                        </div>
                    </div>
                    <tr class="tborderBottom">
                        <th scope="col">S.N</th>
                        <th scope="col">Description</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in invoice.invoice.orderdes.all %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><label class="borderNone">{{d.description}}</label></td>
                        <td><label class="borderNone ">{{d.subtotal}}</label></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="tborderTop">
                            <th scope="row" colspan="2">Gross Total</th>
                            <td><label class="borderNone">{{invoice.invoice.gross_total}}</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Discount Amount</th>
                            <td><label class="borderNone">{{invoice.invoice.discount}}</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">VAT</th>
                            <td><label for="VAT">13%</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Net Total</th>
                            <td><label class="borderNone">{{invoice.invoice.net_total}}</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Advance</th>
                            <td><label class="borderNone">{{invoice.advance}}</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Remaining</th>
                            <td><label class="borderNone">{{invoice.remain}}</label></td>
                        </tr>
                    </tfoot>
                </table>
                <button class="btn btn-primary">Print</button>
            </form>
        </div>
    </div>
   {% endif %}
</div>
<script type="text/javascript">
      function calculateTotal(){
        // console.log("hello");
        var a;
        var price = document.getElementsByClassName("total");
        var sum=0;
        for(var a=0;a<price.length;a++)
        {
        sum = sum +parseInt(price[a].value);
        }
        document.getElementById('total').value =sum;
        var dis = document.getElementById('discount').value;
        var vat= 0.13;
        var Net_total = (sum-dis)*vat+(sum-dis);
        document.getElementById('netTotal').value = Net_total;
        var adv = document.getElementById('advance').value;
        document.getElementById('remaining').value =Math.ceil(Net_total-adv);

    }
</script>
{%endblock%}