{% extends 'navside.html'%}
{% block content%}
<style>
    .myfont{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        text-align: center;
    }
    .card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    max-width: 60rem ;
    }
    .employee_photo{
        box-shadow:  5px 10px 18px grey;
        border-radius: 50%;
        margin-left: 3%;
        width: 250px;
        height: 250px;
    }
    .card-body{
        margin-top: 50px;
    }
    .card-header{
        background: #212529;
    }
    .myfont{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        align-content: center;
        vertical-align: baseline;
    }
</style>
<div class="container-fluid">
    <div class="card text-dark mb-3 row" >
        <div class="card-header">
            <h3 class="myfont">Employee Detail</h3>
        </div>
        <div class="card-body d-flex mx-auto row">
            {% if not reg_emp%}
            <div>
                {% if fetchemp %}
                    {% for i in fetchemp %}
                        <div class="col-5 photo">
                            <img src="/media/login.jpg" alt="No_Image_found" class="employee_photo">
                        </div>
                        <div class="col-7 employee_info">
                            <p class="employee_label">Name:</p><label for="name" name="name">{{i.name}}</label>
                            <p class="employee_label">Address:</p><label for="address" name="address"></label>
                            <p class="employee_label">E-mail:</p><label for="email" name="email"></label>
                            <p class="employee_label">Phone-number:</p><label for="number" name="number"></label>
                            <p class="employee_label">No. of Order Count:</p><label for="ordernumber" name="order_count"></label>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row mb-3 mx-1">
                    <button class="btn btn-secondary mb-1">Send Measurement</button>
                    <button class="btn btn-secondary">Email/Message</button>
                </div>
            </div>
            {% endif%}
               
            {% if reg_emp %}
            <form class="row" method="post" action="reg_emp" enctype="multipart/form-data">
                {% csrf_token %}
                <section class="col-8">
                    <div class="form-row">
                        <input type="text" placeholder=" Name" name="name" class="form-control rounded-pill my-3 p-2">
                    </div>
                    
                    <div class="form-row">
                        <input type="email" name="email" placeholder="Email address " class="form-control rounded-pill my-3 p-2">
                    </div>
                    <div class="form-row">
                        <input type="text" name="number" placeholder="Phone number"  pattern="[0-9]+" maxlength="10" class="form-control rounded-pill my-3 p-2">
                    </div>
                    <div class="form-row">
                        <input type="text" name="address" placeholder="Address" class="form-control rounded-pill my-3 p-2">
                    </div>
                    <div class="form-row">
                        <input type="password" name="password" placeholder="Password" class="form-control rounded-pill my-3 p-2">
                    </div>
                    <div class="form-row">
                        <label for="Insert_img"> <h5>Insert photo</h5></label>
                        <input type="file" name="image" >
                    </div>
                    <button class="btn btn-dark">Register</button>
                </section>
                <section class="col-4"></section>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid ">
  {% if not reg_emp%}
    <form action="#" method="POST">
        {% csrf_token%}
     <div class="row mb-3 mx-1">           
        <Label for="buttons">To add and remove employee from employee list</Label>         
             
             <button class="btn btn-dark">Remove</button>
     </div>
    </form>
    <div class="row mb-3 mx-1">   
    <a href='reg_emp'><button class="btn btn-dark mb-1">Register</button></a>
    </div>
    
    {% endif %}
 </div>
 {%endblock%}