{% extends 'navside.html'%}
{% block content%}
<style>
   .center{
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .table-container{
        margin-top: 30px;
        /* margin-left: 10px; */
        margin-right: 10px;
    }
</style>
<div class="container-fluid">
{% if not reg_emp%}
    <div class="">
        <div class="d-flex justify-content-center">
            <label for="" class="fs-3 ">List of Employee</label>
        </div>
         <div class="shadow-lg table-container">
                    <table class="table table-striped table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th class="th">S.N</th>
                                <th class="th">Name</th>
                                <th class="th">Email</th>
                                <th class="th">Number</th>
                                <th class="th">Address</th>
                                <th class="th">Actions</th>
                                <!-- <style>
                                    .th{
                                        text-align: center;
                                    }
                                </style> -->
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in emp_detail %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                    <td><form action="empOrder" method="POST">
                                        {%csrf_token%}
                                        <input type="hidden" name="id" value={{e.id}}>
                                        {% if forloop.first %}
                                        <label class="text-primary" style="font-size:.875rem;">{{e.name}}  (Admin)</label>
                                        {%else%}
                                        <button class=" btn btn-borderless btn-sm text-primary" >{{e.name}}</button>
                                        {%endif%}
                                        </form>
                                    </td>
                               
                                <td><label for="total" name="total">{{e.email}}</label></td>
                                <td><label for="advance" name="advance">{{e.number}}</label></td>
                                <td><label for="remaning" name="remaining">{{e.address}}</label></td>
                                <!-- <td class="th"><button class="btn btn-dark">Change</button> -->
                                <form action="empDelete" method="POST">
                                    {%csrf_token%}
                                    <input type="hidden" name="id" value={{e.id}}> 
                                    {% if forloop.first %}
                                    <td><button class="btn btn-danger btn-sm" disabled>Delete</button></td>
                                    {% else %}
                                    <td><button class="btn btn-danger btn-sm">Delete</button></td>
                                    {% endif %}
                                   

                                </form>
                              </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
{% endif%}
    {% if reg_emp %}
    <form class="row" method="post" action="reg_emp" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="col-2"></section>
        <section class="col-8">
            <div class="d-flex flex-row justify-content-center"><h3>Register Employee</h3></div>
            <div class="form-row">
                <input type="text" placeholder=" Name" name="name" class="form-control rounded-pill my-3 p-2" required>
            </div>
            
            <div class="form-row">
                <input type="email" name="email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" placeholder="Email address " class="form-control rounded-pill my-3 p-2" required>
            </div>
            <div class="form-row">
                <input type="text" name="number" placeholder="Phone number (10 digits)"  pattern="\d{10}" minlength="10" maxlength="10"  class="form-control rounded-pill my-3 p-2" oninput="this.value = 
                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required>
            </div>
            <div class="form-row">
                <input type="text" name="address" placeholder="Address" class="form-control rounded-pill my-3 p-2" onkeydown="return /[a-z]/i.test(event.key)" required>
            </div>
            <div class="form-row">
                <input type="password" name="password" placeholder="Password" class="form-control rounded-pill my-3 p-2" required>
            </div>
            <div class="form-row form-control rounded-pill my-1 p-1">
                <label for="Insert_img"> <h6 style="color: grey;padding-left: 5px;">Insert photo:</h6></label>
                <input type="file" name="image" required>
            </div>
            <div class="d-flex flex-row justify-content-center" ><button class="btn btn-success mt-2" style="padding-right:40%;padding-left:40%;">Register</button></div>
        </section>
        <section class="col-2"></section>
    </form>
    {% endif %}

{% if not reg_emp%}
    <a href='reg_emp'class="row mb-3 mx-1" style="text-decoration:none;"><button class="btn btn-success mb-1">Add</button></a>
{% endif %}
 </div>
{%endblock%}