{% load  static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .header{
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .header_container{
            box-shadow: 0px 1px 10px rgba(236, 236, 236, 0.1) ;
            /* border-bottom: solid rgba(52, 54, 54, 0.1); */
            margin-left: 15px;
            margin-right: 15px;

        }
        .main-container{
            background-color: rgba(233, 233, 233, 0.1);
            box-shadow: 10px 10px 25px whitesmoke;
        }
        
        .divider{
            height: 3rem;
            border-width: 1px 0;
        }
        .login_img{
            width: 800px;
            max-height: 100vh;
        }
        .btnText{
            color: #212529;
        }
    </style>
</head>
<body>
    <header class=" header_container">
        <div class="row header">
            <div class="col-5 d-flex">
                <a href="home" class="logo align-items-center mb-3 text-dark text-decoration-none " style="margin-right: auto;">
                    <span class="fs-4">Tailor Management System</span>
                </a>
            </div>
            <div class="col-4 d-flex">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link link-secondary " aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark">About us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark">Service</a></li>
                </ul>
            </div>
            <div class="col-3 d-flex flex-row-reverse">
                <ul class="nav nav-pills">
                    {% if not signup %}
                    <li class="nav-item mx-1">
                        <a href="signup">
                            <buttton class="btn btn-outline-secondary btnText">Register<buttton>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="home">
                            <buttton class="btn btn-outline-secondary btnText">Login<buttton>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    {%block content%}
    {% endblock %}
    
</html>