{% extends 'navside.html'%}
{% block content%}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% if not reg%}
<div class="form-box ">
    <form action="customer_store" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <section class="customerDetail container-fluid row">
            <div class="info col-9 ">
                <div class="row">
                    <div class="col-4 mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name"  id="name" placeholder="Customer name"
                               value="" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Username.
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="number">Mobile number</label>
                        <input type="text" name="number" minlength="10" maxlength="10" class="form-control" id="ph-number"
                               placeholder="Phone-number" value="" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Phone-number.
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Example@xyz.com" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                               required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Email.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mb-3">
                        <label for="name">Address</label>
                        <input type="text" class="form-control" name="address" id="name" placeholder="Address" value="" onkeydown="return /[a-z]/i.test(event.key)"
                               required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Address.
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="employee">Employee</label>
                        <select name="employee" class="form-control" id="order-date" required placeholder="select">
                            <option value="" disabled selected hidden> Choose Employee</option>
                            {% for e in emp%}
                            <option value={{e.id}}>{{e.name}}</option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="Deadline">Deadline</label>
                        <input type="date" class="form-control" name="deadline" id="deadlineDate" required>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:2px;margin-right:10px;">
                    <input id="uploadImage" class="form-control" aria-label="file example" required type="file" name="image" onchange="PreviewImage(); required">
                    <div class="invalid-feedback">
                        Please provide a image of product.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="photo col-3 ">
                <img id="uploadPreview" class="customer_photo shadow">
            </div>
        </section>

        <section class="customer_measurement container-fluid row">
            <div class="measurement_table col-3">
                <div class="category mb-2">
                    <label for="des">Description: </label>
                    <div class="d-flex">
                        <div class="form-group d-flex flex-column" id="description">
                            <input name="des" class="form-control" placeholder="Enter description">
                        </div>
                        <div class="d-flex flex-column">
                            <button id="descriptionAlternate" type="button" class="btn btn-success" style="margin-left: 3px;">+</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped mytable table-sm">
                    <thead class="table-dark">
                    <tr>
                        <th class="th">Type</th>
                        <th class="th">Data</th>
                        <style>
                                .th{
                                    text-align: center;
                                }
                        </style>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label for="Shoulder">SH</label></td>
                        <td><input type="number" name="shoulder" min="0" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="Full-length">FL</label></td>
                        <td><input type="number" name="full_length" min="0" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="chest">Chest</label></td>
                        <td><input type="number" name="chest" min="0" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="hip">Hip</label></td>
                        <td><input type="number" name="hip" min="0" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="sl">Sl</label></td>
                        <td><input type="number" min="0" name="sl" id="" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="m">M</label></td>
                        <td><input type="number" min="0" name="m" id="" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="ah">AH</label></td>
                        <td><input type="number" min="0" name="ah" id="" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="open">Open</label></td>
                        <td><input type="number" min="0" name="open" id="" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <!-- <tr>
                        <td><label for="fl">FL</label></td>
                        <td><input type="number" name="" id=""></td>
                    </tr> -->
                    <tr>
                        <td><label for="thigh">Thigh</label></td>
                        <td><input type="number" name="thigh" min="0" id="thigh" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    <tr>
                        <td><label for="knee">Knee</label></td>
                        <td><input type="number" name="knee" min="0" id="" oninput="this.value = 
                               !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
            <div class="whiteboard col-8 shadow-lg">
                    <div style="width: 100%;  height: 550px;" id="wt-container"></div>
                    <script src="https://www.whiteboard.team/dist/api.js"></script>
                    <script type="text/javascript">
                        var wt = new api.WhiteboardTeam('#wt-container', {
                            clientId: 'b12786d751331e33ed4eed5ea8eb1827',
                            boardCode: '361249e0-feca-4acb-8483-66cf4d2ad409'
                        });
                    </script>
            </div>
        </section>
        <section class="invoice">
            <div class="container-fluid">
                <div class="row mybutton">
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </section>
    </form>
    {% endif%}
    {% if reg%}
    <h1>Registered</h1>
    {% endif %}
</div>
<!-- Form  -->

<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
</script>
<!-- Add Descroption -->
<script type="text/javascript">
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
    
            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };
        $('#descriptionAlternate').on('click',function() {
          $('#description').append('<div class="form-group" id="altdes"><label for="">Another Description: </label> <input name = "des" class="form-control" placeholder="Enter Another Description" width: 50%;></div>');
         });
</script>
<!-- time Deadline -->
<script>
    $(function() {
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#deadlineDate').attr('min', maxDate);
    });
</script>

{%endblock%}