{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMS</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/measurement.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/sidebar.css'%}">
    
</head>

<body>
    <div class="page">
        <!-- sidebar -->
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-logo-container">
                    <div class="logo-container">
                        <img class="logo-sidebar" src="{{m.logo}}}" />
                    </div>
                    <div class="brand-name-container">
                        <p class="brand-name" style="margin-bottom:10px ;">
                            {{vendor}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="sidebar-body">
                <div class="user-title-container">
                    <span class="brand-subname user-title">
                        Tailor Management System
                    </span>
                </div>
                <ul class="navigation-list">
                    {% if dashboard %}
                    <li class="navigation-list-item active">
                    {% else %}
                    <li class="navigation-list-item ">
                    {% endif %}
                        <a class="navigation-link" href="dashboard">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-tachometer"></i>
                                </div>
                                <div class="col-10">
                                    Dashboard
                                </div>
                            </div>
                        </a>
                    </li>
                    {% if not staff %}
                    {% if employ %}
                    <li class="navigation-list-item active">
                    {% else %}
                    <li class="navigation-list-item ">
                    {% endif %}
                    <a class="navigation-link" href="employee">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="col-10">
                                    Employees
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% if not staff %}
                    {% if measurement %}
                    <li class="navigation-list-item active">
                    {% else %}
                    <li class="navigation-list-item">
                    {% endif %}
                    <a class="navigation-link" href="measurement">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="col-10">
                                    Measurement
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% if not staff %}
                        {% if accounts %}
                        <li class="navigation-list-item active">
                        {% else %}
                        <li class="navigation-list-item">
                        {% endif %}
                        <a class="navigation-link" href="account">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fa fa-calculator"></i>
                                    </div>
                                    <div class="col-10">
                                        Accounts
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endif %}

                    {% if order_nav %}
                    <li class="navigation-list-item active">
                    {% elif order %}
                    <li class="navigation-list-item active">
                    {% else %}
                    <li class="navigation-list-item">
                    {% endif %}
                    <a class="navigation-link" href="order">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-address-book"></i>
                                </div>
                                <div class="col-10">
                                    Orders
                                </div>
                            </div>
                        </a>
                    </li>
                    {% if staff %}
                        {% if acceptorder %}
                        <li class="navigation-list-item active">
                        {% elif accepto %}
                        <li class="navigation-list-item active">
                        {% else %}
                        <li class="navigation-list-item">
                        {% endif %}
                        <a class="navigation-link" href="acceptorder">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-address-book"></i>
                                </div>
                                <div class="col-10">
                                    Acceptorder
                                </div>
                            </div>
                        </a>
                        </li>
                    {% endif %}
                    <!-- {% if not staff%} -->
                    <!-- {% if history %}
                    <li class="navigation-list-item active">
                    {% else %}
                    <li class="navigation-list-item">
                    {% endif %}
                        <a class="navigation-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-address-book"></i>
                                </div>
                                <div class="col-10">
                                    History
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="historyacc">Account History</a></li>
                            <li><a class="dropdown-item" href="historyorder">Order History</a></li>
                        </ul>
                    </li>
                    {% endif %} -->
                </ul>
                <hr style="color:rgb(255, 255, 255);margin-top:30px;">
                
                
            </div>
        </div>
        <!-- content -->
        <div class="content">
            <header class="navigationBar">
                <div class="col-9">
                    <button id="sidebarToggle" class="btn sidebarToggle">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="col-3">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-borderless" disabled><i class="fa fa-user"></i>   {{name}}</button>
                        <a href="logout">
                            <button class="btn btn-outline-danger btn-sm " >Logout  <i class="fa fa4 fa-sign-out"></i></button>
                        </a>
                      </div>
                </div>
            </header>
            {% block content%}
            {% endblock%}
        </div>          
    </div>
    
<script src="../static/js/bootstrap.bundle.min.js"></script>   
</body>
<!-- sidebar  --><script>
        let sidebarToggle = document.querySelector(".sidebarToggle");
        sidebarToggle.addEventListener("click", function(){
            document.querySelector("body").classList.toggle("active");
            document.getElementById("sidebarToggle").classList.toggle("active");
        })
    </script>
 
</html>