{% extends 'navside.html'%}
{% block content%}

<style>
        .customer-photo{
        border-radius: 50%;
        max-height: 50px;
        width: 50px;
    }
    .table-container{
        margin-top: 30px;
        /* margin-left: 10px; */
        margin-right: 10px;
    }


</style>

<div class="container-fluid search_box">
    <form class="form-inline" action="search" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-10"><input class="form-control " type="search" placeholder="Search" aria-label="Search"
                                       name="searchBox"></div>
            <div class="col-2">
                <button class="btn btn-outline-success" type="submit" for="searchBox">Search</button>
            </div>
        </div>
    </form>
    <div class="shadow-lg table-container">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <th class="th">#</th>
                <th class="th">Customer</th>
                {% if not staff %}
                <th class="th">Assigned Employee</th>
                {% endif %}
                <th class="th">Order-date</th>
                {% if not staff %}
                <th class="th">Number</th>
                <th class="th">Email</th>
                {% endif %}
                <th class="th">Details</th>
                <th class="th">Status</th>
            </tr>
            </thead>
            <tbody>
            {% if singlecus %}
            <tr>
                <th scope="row">
                    {{forloop.counter}}
                </th>
                <td><a href="#"><label for="name" name="name">{{order.customer_measurement.customer.name}}</label></a>
                </td>
                {% if not staff %}
                <td><label for="emp_name" name="emp_name">{{order.employee.name}}</label></td>
                {% endif %}
                <td><label for="order-date" name="order-date">{{order.orderdate}}</label></td>
                {% if not staff %}      
                <td><label for="number" name="number">{{order.customer_measurement.customer.number}}</label></td>
                <td><label for="email" name="email">{{order.customer_measurement.customer.email}}</label></td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-primary btn-sm" name="order" data-bs-toggle="modal" data-bs-target="#staticBackdrop1{{o.id}}" >{{order.customer_measurement}}</button>
                     <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop1{{o.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Measurement of Customer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table mytable">
                                    <thead>
                                    <tr>
                                        <th class="th">Type</th>
                                        <th class="th">Data</th>
                                        <style>
                                                .th{
                                                    text-align: center;
                                                }
                                        </style>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><label for="Shoulder">SH</label></td>
                                        <td><label for="Shoulder">{{order.customer_measurement.shoulder}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="Full-length">FL</label></td>
                                        <td><label for="full_length">{{order.customer_measurement.full_length}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="chest">Chest</label></td>
                                        <td><label for="chest">{{order.customer_measurement.chest}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="hip">Hip</label></td>
                                        <td><label for="hip">{{order.customer_measurement.hip}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="sl">Sl</label></td>
                                        <td><label for="sl">{{order.customer_measurement.sl}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="m">M</label></td>
                                        <td><label for="m">{{o.customer_measurement.m}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="ah">AH</label></td>
                                        <td><label for="ah">{{order.customer_measurement.ah}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="open">Open</label></td>
                                        <td><label for="open">{{order.customer_measurement.open}}</label></td>
                                    </tr>
                                    <!-- <tr>
                                        <td><label for="fl">FL</label></td>
                                        <td><input type="number" name="" id=""></td>
                                    </tr> -->
                                    <tr>
                                        <td><label for="thigh">Thigh</label></td>
                                        <td><label for="thigh">{{order.customer_measurement.thigh}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="knee">Knee</label></td>
                                        <td><label for="knee">{{order.customer_measurement.knee}}</label></td>
                                    </tr>
                                    
                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </td>
                    <td>
                        <!-- <label for="status" name="status" class="primary" disabled>{{o.status}}</label> -->
                        {% if order.status == "Accepted" %}
                            <button name="status" class="btn btn-success btn-sm rounded-pill">{{order.status}}</button>
                        {% elif order.status == "Assigned" %}
                            <button name="status" class="btn btn-primary btn-sm rounded-pill">{{order.status}}</button>
                        {% elif order.status == "Rejected" %}
                            <button name="status" class="btn btn-danger btn-sm rounded-pill">{{order.status}}</button>
                        {% elif order.status == "Working" %}
                            <button name="status" class="btn btn-warning btn-sm rounded-pill">{{order.status}}</button>
                        {% elif order.status == "Complete" %}
                            <button name="status" class="btn btn-secondary btn-sm rounded-pill">{{order.status}}</button>
                        {% endif %}
                    </td>
            </tr>
            {% else %}
            {% for o in order%}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="#"><label for="name" name="name">{{o.customer_measurement.customer.name}}</label></a></td>
                {% if not staff %}
                    {% if o.status == "Rejected" %}
                    <td>
                        <form method="post" action="change_emp">
                            {% csrf_token %}
                            <div class="d-flex flex-row">
                                <select name="employee" class="form-select form-select-sm form-control" aria-label=".form-select-sm example" id="order-date" required placeholder="select">
                                    <option value="" disabled selected hidden> Choose Employee</option>
                                    {% for e in emp%}
                                    <option value={{e.id}}>{{e.name}}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-primary btn-sm "name="order" value={{o.id}} style="margin-left:10px ;">Submit</button>
                            </div>
                        </form>
                    </td>
                    {% else %}
                    <td><label for="emp_name" name="emp_name">{{o.employee.name}}</label></td>
                    {% endif %}
                {% endif %}
                <td><label for="order-date" name="order-date">{{o.orderdate}}</label></td>
                {% if not staff %}
                <td><label for="number" name="number">{{o.customer_measurement.customer.number}}</label></td>
                <td><label for="email" name="email">{{o.customer_measurement.customer.email}}</label></td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-primary btn-sm" name="order" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{o.id}}" >{{o.customer_measurement}}</button>
                     <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop{{o.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Measurement of Customer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table mytable">
                                    <thead>
                                    <tr>
                                        <th class="th">Type</th>
                                        <th class="th">Data</th>
                                        <style>
                                                .th{
                                                    text-align: center;
                                                }
                                        </style>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><label for="Shoulder">SH</label></td>
                                        <td><label for="Shoulder">{{o.customer_measurement.shoulder}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="Full-length">FL</label></td>
                                        <td><label for="full_length">{{o.customer_measurement.full_length}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="chest">Chest</label></td>
                                        <td><label for="chest">{{o.customer_measurement.chest}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="hip">Hip</label></td>
                                        <td><label for="hip">{{o.customer_measurement.hip}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="sl">Sl</label></td>
                                        <td><label for="sl">{{o.customer_measurement.sl}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="m">M</label></td>
                                        <td><label for="m">{{o.customer_measurement.m}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="ah">AH</label></td>
                                        <td><label for="ah">{{o.customer_measurement.ah}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="open">Open</label></td>
                                        <td><label for="open">{{o.customer_measurement.open}}</label></td>
                                    </tr>
                                    <!-- <tr>
                                        <td><label for="fl">FL</label></td>
                                        <td><input type="number" name="" id=""></td>
                                    </tr> -->
                                    <tr>
                                        <td><label for="thigh">Thigh</label></td>
                                        <td><label for="thigh">{{o.customer_measurement.thigh}}</label></td>
                                    </tr>
                                    <tr>
                                        <td><label for="knee">Knee</label></td>
                                        <td><label for="knee">{{o.customer_measurement.knee}}</label></td>
                                    </tr>
                                    
                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </td>
                {% if not staff %}
                <td>
                    <!-- <label for="status" name="status" class="primary" disabled>{{o.status}}</label> -->
                    {% if o.status == "Accepted" %}
                        <button name="status" class="btn btn-success btn-sm rounded-pill">{{o.status}}</button>
                    {% elif o.status == "Assigned" %}
                        <button name="status" class="btn btn-primary btn-sm rounded-pill">{{o.status}}</button>
                    {% elif o.status == "Rejected" %}
                        <button name="status" class="btn btn-danger btn-sm rounded-pill">{{o.status}}</button>
                    {% elif o.status == "Working" %}
                        <button name="status" class="btn btn-warning btn-sm rounded-pill">{{o.status}}</button>
                    {% elif o.status == "Complete" %}
                        <button name="status" class="btn btn-secondary btn-sm rounded-pill">{{o.status}}</button>
                    {% endif %}
                </td>
                {% else %}
                 <td>
                    <form action="toogleStatus" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-row">
                            <input type="hidden" name="order" value="{{o.id}}"/>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="status">
                                <option value="Assigned">Assigned</option>
                                <option value="Working">On Progress</option>
                                <option value="Complete">Completed</option>
                            </select>
                            <button class="btn btn-primary btn-sm" style="margin-left:10px ;">Submit</button>
                        </div>
                    </form>
                 </td>
                {% endif %}
            </tr>
            {% endfor%}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<!-- Button trigger modal -->
  
 
{%endblock%}
