{% extends 'frontpage.html'%}
{% load  static%}
{%block content%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<style>
    .signupForm div .form-control{
        margin-top: 9px;
        margin-left: 15px;
        border-radius: 90px;
    }
    .img_signup{
        color: #6c7592;
    }
    .sideimg_signup{
        object-fit: contain;
        width: 500px;
        height: 70vh;
    }
    .bg-img{
        background-image:url("/media/signup1.jpg");
        background-size: cover;
        margin-top: 18px;
        box-shadow: 0px 3px 6px rgba(52, 54, 54, 0.6) ;
    }
    .headSign{
        padding-bottom: 9px;
        margin-left: 25px;
        border-bottom: 1px solid #ced4da;
    }
    .regbtn{
        margin-left: 25px;
    }
    /* add */
   
    /* addend */
</style>
<div class="container-fluid">
            {% if reg_comp%}
            
            <div class="container mb-5">
                <form class="signupForm" method="post" action="register" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6 bg-img">
                           <!-- <img src="/media/signup1.jpg" alt="No_Image_found" class="sideimg_signup" > -->
                        </div>
                        <div class="col-6">
                            <h1 class="d-flex justify-content-center mb-2 headSign">Sign up your Account</h1>
                            <h4 class="d-flex justify-content-center">Organization Detail</h4>
                            <div class="d-flex flex-column"><input type="text" name="c_name" placeholder="Organization's Name" class="form-control" required></div>
                            <div class="d-flex flex-column"><input type="text" name="c_number" placeholder=" Contact no." minlength= "10" maxlength="10" class="form-control" oninput="this.value = 
                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required></div>
                            <div class="d-flex flex-column"><input type="text" name="c_address" placeholder="Address" class="form-control" onkeydown="return /[a-z]/i.test(event.key)"  required></div>
                            <div class="d-flex flex-column">
                                <label class="form-control img_signup" for="file-input1">Insert Photo</label>
                                <span id="imageName"></span>
                                <input type="file" id="file-input1" name="c_image" onchange="filename()" style="display: none;" required>
                            </div>
                            <h4 class="d-flex justify-content-center mt-2">Proprietor Detail</h4>
                            <div class="d-flex flex-column"><input type="text" name="name" placeholder=" Name" class="form-control" required></div>
                            <div class="d-flex flex-column"><input type="text" name="address" placeholder="Address" class="form-control" onkeydown="return /[a-z]/i.test(event.key)"  required></div>
                            <div class="d-flex flex-column"><input type="text" name="number" placeholder="Phone number" minlength= "10" maxlength="10" class="form-control" oninput="this.value = 
                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required></div>
                            <div class="d-flex flex-column"><input type="email" name="email" placeholder="Email address " pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" class="form-control" required></div>
                            <div class="d-flex flex-column"><input type="password" name="password" placeholder="Password" class="form-control" id="pwd"required></div>
                            <div class="d-flex flex-column">
                                <label class="form-control img_signup" for="file-input2">Insert Photo</label>
                                <!-- <span id="imageName"></span> -->
                                <input type="file" id="file-input2" name="owner_image" style="display: none;">
                            </div>
                        <div class="d-flex flex-column justify-content-center regbtn mt-3 px-5"><button class="btn btn-primary">Register</button></div> 
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
</div>
{%endblock%}
<script>
    function filename(){
        var fn = document.getElementById("file-input1").file[0].name;
        document.getElementById(imageName).setAttribute('value', fn);
    }
</script>